@model List<ListItemModel>
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6 col-12 sendingWrongResult">
        @Localizer["The message could not be sent. Please try again later."]
    </div>
</div>