@model List<ListItemModel>
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6 col-12 sendingCorrectResult">
        @Localizer["The message has been sent correctly. We will contact you at the earliest possible opportunity."]
    </div>
</div>