@model List<ListItemModel>
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12 viewHeader">
        <h1 class="align-text-bottom text-white">@Localizer["Technologies - what do we use"]</h1>
    </div>
    <section class="dl-blurbs col-12">
        <dl class="row">
            @foreach (ListItemModel item in @Model)
            {
                <div class="row itemContainer">
                    <h2 class="col-12">@item.Name</h2>
                    <dp class="col-2"><img src="@item.ImgUrl"></dp>
                    <h3 class="col-10">@item.Description</h3>
                </div>
            }
        </dl>
    </section>
</div>